* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

#wrapper {
    width: 970px;
    margin: 50px auto;
}

    #header {
        display: flex;
    }

        #header img{
            height: 100px;
        }

        #header p {
            font-size: 40px;
            padding-top: 40px;
        }

            #net {
                color: #22659e;
            }

    #www {
        background-image: linear-gradient(#23669e, #5283ad, #23669e);
        color: white;
        font-size: 30px;
        margin-top: -10px;
        padding: 10px 10px 10px 15px;
    }

    #main {
        display: flex;
        background-image: linear-gradient(#e4e4e4, white);
    }

        #leftBarTop {
            border-bottom: 2px solid black;
            margin: 0px 0px 20px 0px;
        }

            #leftBar {
                padding: 20px 10px 0px 0px;
                width: 20%;
            }

                #internet {
                    color: red;
                }

                #leftBar p {
                    padding: 10px 0px;
                }
                    
                    .lBarBlue {
                        color: #22659e;
                    }
                
                #video {
                    background-image: linear-gradient(#6399c4, #22659e);
                    color: white;
                    padding: 5px 25px;
                    border-radius: 5px;
                    box-shadow: 1px 1px 2px black;
                    margin: 5px 0px 5px 20px;
                }

                #resources {
                    background-image: linear-gradient(#eaac55, #f07500);
                    color: white;
                    padding: 5px 19px;
                    border-radius: 5px;
                    box-shadow: 1px 1px 2px black;
                    margin: 0px 0px 20px 20px;
                }

            #leftBarBottom {
                position: relative;
                text-align: center;
                color: white;                
            }

                .background {
                    width: 190px;
                    height: 310px;
                }

                .top {
                    position: absolute;
                    top: 10px;
                    left: 5px;
                    text-align: center;
                    font-size: 22px;
                }

                .middle {
                    width: 100px;
                    position: absolute;
                    top: 100px;
                    left: 45px;
                }

                .bottom {
                    background-image: linear-gradient(to right, #32c8df , #58ccdf, #32c8df);
                    color: white;
                    font-size: 16px;
                    padding: 5px 30px;
                    border-radius: 5px;
                    position: absolute;
                    top: 250px;
                    left: 20px;
                }












